<nb-card>
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <form #form="ngForm" class='vp-form' autocomplete="nope">
      <nb-tabset>
        <nb-tab tabTitle='General'>
          <div class="form-group row">
            <div class="col-6">
              <label for="input-name">View Point Name</label>
              <input #name='ngModel' type="text" id='input-name' placeholder="Name" class="form-control" [(ngModel)]="newViewPoint.name"
                name='name' required bt-autofocus [class.danger]="name.invalid && name.touched" />
              <small style='margin-left: 0;' class="form-text error" *ngIf="name.invalid && name.touched && name?.errors?.required">
                Name is required!
              </small>
            </div>
            <div class="col-6">
              <label for="input-category">Category</label>
              <select #category='ngModel' required id='input-category' [compareWith]="compareCityFn" [(ngModel)]='newViewPoint.category'
                name='category' class="form-control" [class.danger]="category.invalid">
                <option *ngFor="let category of (selectorService?.viewPointCategories$ | async)" [ngValue]="category">{{category.name}}</option>
              </select>
              <small style='margin-left: 0;' class="form-text error" *ngIf="category.invalid && category?.errors?.required">
                Category is required!
              </small>
            </div>
          </div>
          <div class="form-group">
              <bt-rate class='fr' [readOnly]='false'  name='rank' [(ngModel)]="newViewPoint.rank"></bt-rate>
          </div>
          <div class="form-group">
            <label for="input-city">City</label>
            <select #city='ngModel' required id='input-city' [compareWith]="compareCityFn" [(ngModel)]='newViewPoint.city' name='city'
              class="form-control" [class.danger]="city.invalid">
              <option *ngFor="let city of (selectorService?.cities$ | async)" [ngValue]="city">{{city.name}}</option>
            </select>
            <small style='margin-left: 0;' class="form-text error" *ngIf="city.invalid && city?.errors?.required">
              City is required!
            </small>
          </div>
          <div class="form-group">
            <label for="input-address">Address</label>
            <input #address='ngModel' type="text" id='input-address' placeholder="Address" class="form-control" [(ngModel)]="newViewPoint.address"
              name='address' required [class.danger]="address.invalid && address.touched" />
            <small style='margin-left: 0;' class="form-text error" *ngIf="address.invalid && address.touched && address?.errors?.required">
              Address is required!
            </small>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label for="input-latitude">Latitude</label>
              <input #latitude='ngModel' type="text" id='input-latitude' placeholder="Lat." class="form-control" [(ngModel)]="newViewPoint.latitude"
                name='latitude' required [disabled]='true' [class.danger]="form.touched && !hasPosition(form)" />
            </div>
            <div class="col-4">
              <label for="input-longtitude">Longtitude</label>
              <input #longtitude='ngModel' type="text" id='input-longtitude' placeholder="Lng." class="form-control" [(ngModel)]="newViewPoint.longtitude"
                name='longtitude' required [disabled]='true' [class.danger]="form.touched && !hasPosition(form)" />
            </div>
            <button (click)='openMap()' type="button" [disabled]='!hasCity()' class="btn btn-success btn-icon" style='align-self: flex-end;'>
              <i class="nb-location"></i>
            </button>
            <small class="form-text error" *ngIf="form.touched && !hasPosition(form)">
              Position is required!
            </small>
          </div>
        </nb-tab>
        <nb-tab tabTitle='Images'>
          <label for="input-name">View Point Image</label>
          <div ng2FileDrop [multiple]='true' [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileDropped($event)"
            [uploader]="uploader" class="my-drop-zone" [class.danger]="!hasFile()">
            <div *ngIf='!hasFile()'>Drop File</div>
            <ng-container *ngIf='hasFile()'>
              <img *ngFor='let image of newViewPoint.images' [src]='image' [nbContextMenu]="getMenuItem(image)" />
            </ng-container>
          </div>
          <small style='margin-left: 0;margin-bottom: 20px;' class="form-text error" *ngIf="!hasFile()">
            Image is required!
          </small>
        </nb-tab>
        <nb-tab tabTitle='Others'>
          <div class="form-group">
            <label for="input-tips">Tips</label>
            <textarea #tips='ngModel' type="text" id='input-tips' placeholder="Tips" class="form-control" [(ngModel)]="newViewPoint.tips"
              name='tips'>
            </textarea>
          </div>
          <div class="form-group">
            <label for="input-timeNeeded">Tips</label>
            <input #timeNeeded='ngModel' type="text" id='input-timeNeeded' placeholder="Time Needed" class="form-control" [(ngModel)]="newViewPoint.timeNeeded"
              name='timeNeeded' />
          </div>
          <div class="form-group">
            <label for="input-description">Description</label>
            <textarea #description='ngModel' type="text" id='input-description' class="form-control" [(ngModel)]="newViewPoint.description"
              name='description'>
            </textarea>
          </div>
        </nb-tab>
      </nb-tabset>
      <button (click)='action()' type="button" [disabled]="isSubmitDisAllowed(form)" class="btn btn-primary">Submit</button>
      <button (click)='close()' type="button" class="btn btn-danger">Close</button>
    </form>

  </nb-card-body>
</nb-card>