page-travel-agenda {
    ion-title {
        text-align: center;
    }

    a-map {
        height: 40%;
        transition: height .5s linear;
    }

    a-map.hideMe {
        height: 0;
    }

    button.map {
        border-color: #488aff;
        color: #488aff;
    }

    button.list {
        border-color: #6d6a6a;
        color: #6d6a6a;
    }
}
