page-travel-agenda {
    ion-title {
        text-align: center;
    }

    button.map {
        border-color: #488aff;
        color: #488aff;
    }

    button.list {
        border-color: #6d6a6a;
        color: #6d6a6a;
    }
}
