<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)='displaySearchBar()'>
        <ion-icon name='search' [style.color]='getSearchIconColor()'></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)='displayFilterBar()'>
        <ion-icon name='color-filter' [style.color]='getFilterIconColor()'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>View Points Select</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="royal" (click)='switchDisplayMode()'>
        <ion-icon [name]="getDisplayModeIcon()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <bt-a-map [ngStyle]='getStyle(displayModeEnum.Map)' [viewPoints]='selector.filterAndSearchedViewPoints$ | async' [city]='selector.selectedCity$ | async'
    [dailyTrip]='selector.selectedDailyTrip$ | async' [travelAgenda]='selector.selectedTravelAgenda$ | async' [selectedViewPoint]='selector.selectedViewPoint$ | async'
    [viewMode]='selector.viewMode$ | async' (viewPointClickedEvent)='viewPointClicked($event)' (viewPointAddedToDailyTrip)='viewPointAdded($event)'
    (viewPointRemovedFromDailyTrip)='viewPointRemoved($event)'></bt-a-map>
  <viewpoint-list [ngStyle]='getStyle(displayModeEnum.List)' [dailyTrip]='selector.selectedDailyTrip$ | async' [travelAgenda]='selector.selectedTravelAgenda$ | async'
    [viewPoints]='selector.filterAndSearchedViewPoints$ | async' [viewMode]='selector.viewMode$ | async' (viewPointClickedEvent)='viewPointClicked($event)'
    (viewPointAddedToDailyTrip)='viewPointAdded($event)' (viewPointRemovedFromDailyTrip)='viewPointRemoved($event)'></viewpoint-list>
</ion-content>

<viewpoint-search *ngIf='showSearchBar' [searchKey]='selector.viewPointSearchKey$ | async' (searchEvent)='searchViewPoint($event)'
  (backGroundClickedEvent)='dismissSearchBar()'></viewpoint-search>
<viewpoint-filter *ngIf='showFilterBar' [filterCategories]='selector.currentFilters$ | async' (criteriaClickedEvent)='criteriaClicked($event)'
  (backGroundClickedEvent)='dismissFilterBar()'></viewpoint-filter>
