viewpoint-marker-a {
    display: block;
    
    .icon-stack {
        display: inline-block;
    }

    .icon-stack-normal, .icon-stack-small {
        position: absolute;
        width: 100%;
        text-align: center;
        font-style:normal;
    }

    .icon-stack-normal {
        font-size: 2.8em;
    }

    .icon-stack-small {
        font-size: 1.4em;
        top: 5px;
    }
}
