<ion-scroll #dayScroll scrollY="true" col-4>
  <ion-list #dayList style='padding: 0;'>
    <div [dragula]="'day-bag'" [dragulaOptions]='dragulaOptions'  [dragulaModel]="travelAgenda?.dailyTrips">
      <ion-item-sliding class='day-item' *ngFor="let dailyTrip of travelAgenda?.dailyTrips;index as i">
        <ion-item [ngClass]='getDayItemClass(dailyTrip)' (click)='dayClicked(dailyTrip)'>
          <h1 class='day'>D{{i}}</h1>
          <i style="align-self: center;" class="icon iconfont icon-liebiao2"></i>
          <div class='arrow-right' [ngStyle]="isSelectedDailyTrip(dailyTrip)"></div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button icon-only (click)='deleteDay(dailyTrip)'>
            <ion-icon color='danger' name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
    <ion-item>
      <button ion-button color="secondary" outline (click)='addDay($event)'>
        <ion-icon style='color: green' name="add-circle"></ion-icon>
        &nbsp;&nbsp;增加一天
      </button>
    </ion-item>

  </ion-list>
</ion-scroll>
<ion-scroll #vpScroll scrollY="true" col-8>
  <ion-list #vpList style='padding: 0;'>
    <div [dragula]="'vp-bag'" [dragulaOptions]='dragulaOptions' [dragulaModel]="selectedDailyTrip?.travelViewPoints">
      <div *ngFor="let travelViewPoint of selectedDailyTrip?.travelViewPoints;index as i">
        <ion-item-sliding class='vp-item'>
          <ion-item [ngClass]='getTravelViewPointItemClass(travelViewPoint)' (click)='travelViewPointClicked(travelViewPoint)'>
            <ion-grid>
              <ion-row>
                <h2 col-2 col-2-md>{{i+1}}</h2>
                <h3 class='title' col-8 col-10-md>{{travelViewPoint.viewPoint.name}}</h3>
                <i col-2 style="align-self: center; text-align:right;" class="icon iconfont icon-liebiao2"></i>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button icon-only (click)='deleteTravelViewPoint(travelViewPoint)'>
              <ion-icon color='danger' name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item class='tp-item' *ngIf="travelViewPoint.id !== selectedDailyTrip.lastViewPoint">
          <ion-label>距离: {{travelViewPoint.distanceToNext}}</ion-label>
          <ion-select [(ngModel)]="travelViewPoint.transportationToNext" (ionChange)="onTransportChange(travelViewPoint)">
            <ion-option *ngFor="let nameValue of transCategoryNameAndValues" [selected]='nameValue.value === travelViewPoint.transportationToNext'
              [value]="nameValue.value">{{nameValue.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
    <ion-item>
      <button *ngIf='!!selectedDailyTrip' ion-button color="secondary" outline (click)='addTravelViewPointReq($event)'>
        <ion-icon style='color: green' name="add-circle"></ion-icon>
        &nbsp;&nbsp;增加项目
      </button>
    </ion-item>
  </ion-list>
</ion-scroll>