page-city-pick {
    .activated {
            background-color: #f3f0f0;
        }

    .toolbar-title {
        text-align: center;
    }

    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }

        .card-title {
            position: absolute;
            top: 90%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }    
    }
}
