
<div class="row">
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4203.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4201.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4203.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card'  style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4201.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4203.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4201.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4203.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4201.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4203.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
  <nb-card class='city-card' style="float: left;">
    <nb-card-body>
      <img src="assets/images/IMG_4201.jpg" />
      <div class="card-title">黄山</div>
    </nb-card-body>
  </nb-card>
</div>
