

travel-agenda {
    :host {
        display: flex;
    }
    
    ion-item .label {
        display: flex;
        justify-content: space-between;
        margin: 13px 0 13px 0;
    }

    .day-item {
        background-color: #f8f8f8;
    }

    .day-item.active {
        background-color: #b5f3c1;
    }
    
    ion-label .button {
        margin: 0 auto;
    }

    ion-item h1 {
        flex: 1;
        text-align: center;
    }

    ion-item i {
        align-self: center;
        padding: 0 6px 0 6px;
    }

    ion-item-options .button:last-child {
        padding-right: 0px;
    }

    .vp-item {
        background-color: #f5eded;
    }

    .tp-item {
        min-height: 0;
        background-color: #f5eded;
        font-size: x-small;
    }

    .tp-item .label {
        margin: 2px 0 2px 0;
    }

    .tp-item .select {
        padding: 3px 8px 3px 16px;
    }

    .tp-item .select-text {
        margin: auto;
    }

    .arrow-right {
        position: absolute;
        right: 0;
        top: 50%;
        padding: 0;
        width: 0;
        height: 0;
        margin-top: -7px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid rgb(173, 173, 169)
    }

    .title {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
