<ion-grid no-padding>
  <ion-row>
    <ion-list col-4>
      <ion-item-sliding *ngFor="let dailyTrip of (selectedTravelAgenda$ | async)?.dailyTrips;index as i">
        <ion-item (click)='dayClicked(dailyTrip)'>
          <h1 class='day'>D{{i}}</h1>
          <i style="align-self: center;" class="icon iconfont icon-liebiao2"></i>
          <div class='arrow-right'></div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button icon-only>
            <ion-icon color='danger' name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <button ion-button color="secondary" outline>
          <ion-icon style='color: green' name="add-circle"></ion-icon>
          &nbsp;&nbsp;增加一天
        </button>
      </ion-item>
    </ion-list>
    <ion-list col-8>
      <ion-item-sliding *ngFor="let travelViewPoint of selectedDailyTrip?.travelViewPoints;index as i">
        <ion-item class='vp-item'>
          <ion-grid>
            <ion-row>
              <h2 col-2 col-2-md>{{i+1}}</h2>
              <h3 col-8 col-10-md>{{travelViewPoint.viewPoint.name}}</h3>
              <i col-2 style="align-self: center; text-align:right;" class="icon iconfont icon-liebiao2"></i>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button icon-only>
            <ion-icon color='danger' name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <button ion-button color="secondary" outline>
          <ion-icon style='color: green' name="add-circle"></ion-icon>
          &nbsp;&nbsp;增加项目
        </button>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-grid>
