<ion-header>
  <ion-navbar>
    <ion-title>
      Travel Agenda
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)='publish()'>Publish!</button>
      <button ion-button (click)='hideMap()'>Hide Map!</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div style="display: flex;flex-direction:column; height:100%;" class='column'>
    <bt-a-map [class.hideMe] = 'isMapHide'
    [city]='selector.selectedCity$ | async'
    [travelAgenda]='selector.selectedTravelAgenda$ | async'
          [dailyTrip]='selector.selectedDailyTrip$ | async'
          [selectedViewPoint]='selector.selectedViewPoint$ | async'></bt-a-map>
    <travel-agenda  style="flex:1;" 
                    [selectedDailyTrip]='selector.selectedDailyTrip$ | async' 
                    [selectedTravelViewPoint]='selector.selectedTravelViewPoint$ | async'
                    [travelAgenda]='selector.selectedTravelAgenda$ | async'
                    [transCategories]='selector.transportationCategories$ | async'
                    (dailyTripSelectedEvent)='dailyTripSelected($event)'
                    (tranportationChangedEvent)='tranportationChanged($event)'
                    (travelViewPointSelectedEvent)='travelViewPointSelected($event)'
                    (switchTravelViewPointEvent)='travelViewPointSwitched($event)'
                    (switchDailyTripEvent)='dailyTripSwitched($event)'
                    (dailyTripAddedEvent)='dailyTripAdded($event)'
                    (dailyTripRemovedEvent)='dailyTripRemoved($event)'
                    (travelViewPointAddRequestEvent)='travelViewPointAddRequest()'
                    (travelViewPointRemovedEvent)='travelViewPointRemoved($event)'></travel-agenda>
  </div>
</ion-content>

<!-- style="height: 40%;" -->