<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" [ngClass]='getSwitchButtonClass()' (click)='switchDisplayMode()'>
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div style="display: flex;flex-direction:column; height:100%;" class='column'>
    <a-map style="height: 40%;" [dailyTrip]='dayTripSelected$ | async' [viewPoints]='viewPoints$ | async'></a-map>
    <!-- <viewpoint-list [ngStyle]='getStyle(displayModeEnum.List)' [dailyTrip]='dayTripSelected$ | async' [viewPoints]='viewPoints$ | async'
    [viewMode]='true'></viewpoint-list> -->
    <travel-agenda style="flex:1" [travelAgenda]='selectedTravelAgenda$ | async' (dailyTripSelectedEvent)='dailyTripSelected($event)' ></travel-agenda>
  </div>
  <ion-fab right edge #fab>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)='displaySearchBar(fab)'>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-fab (click)='displayFilterBar(fab)'>
        <ion-icon name="color-filter"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<viewpoint-search *ngIf='showSearchBar' [searchKey]='search$ | async' (searchEvent)='searchViewPoint($event)' (backGroundClickedEvent)='dismissSearchBar()'></viewpoint-search>
<viewpoint-filter *ngIf='showFilterBar' [filterCategories]='currentFilterCategories$ | async' (criteriaClickedEvent)='criteriaClicked($event)'
  (backGroundClickedEvent)='dismissFilterBar()'></viewpoint-filter>
