<div tappable class='backdrop' (click)='backGroundClicked()'>
</div>
<div class='filter'>
    <ion-grid no-padding>
        <ion-row>
            <button ion-button outline col [ngClass]='getCategoryClass(category)' *ngFor="let category of (currentFilterCategories$ | async)" icon-right (click)='clicked($event,category)'>
                {{category.name}}
                <ion-icon name="arrow-dropdown"></ion-icon>
            </button>
        </ion-row>
    </ion-grid>
    <ion-grid no-padding #filterGrid *ngIf='selectedCategory != null'>
        <ion-row align-items-stretch>
            <button col *ngFor="let criteria of selectedCategory.criteries" [ngClass]='getCriteriaClass(criteria)' ion-button small outline (click)='criteriaClicked($event,criteria)'>
                {{criteria.name}}
            </button>
        </ion-row>
    </ion-grid>
</div>