<nb-card>
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <form #form="ngForm" class='vp-form' autocomplete="nope">
      <div class="form-group">
        <label for="input-name">View Point Name</label>
        <input #name='ngModel' type="text" id='input-name' placeholder="Name" class="form-control" [(ngModel)]="newViewPoint.name" name='name'
          required autofocus [class.form-control-danger]="name.invalid && name.touched" />
        <small class="form-text error" *ngIf="name.invalid && name.touched && name?.errors?.required">
          Name is required!
        </small>
      </div>
      <div class="form-group">
        <label for="input-city">City</label>
        <select id='input-city' [(ngModel)] = 'newViewPoint.city' name='city' class="form-control">
          <option *ngFor="let city of (selectorService?.cities$ | async)" [ngValue]="city">{{city.name}}</option>
        </select>
      </div>
      <label for="input-name">View Point Image</label>
      <div ng2FileDrop [multiple]='true' [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        (onFileDrop)="fileDropped($event)"
        [uploader]="uploader" class="my-drop-zone">
        <div *ngIf='!hasFile()'>Drop File</div>
        <ng-container *ngIf='hasFile()'>
          <img  *ngFor='let image of newViewPoint.images' [src]='image' [nbContextMenu]="getMenuItem(image)"/>
        </ng-container>
      </div>
      <button (click)='action()' type="button" [disabled]="isSubmitDisAllowed(form)" class="btn btn-primary">Submit</button>
      <button (click)='close()' type="button" class="btn btn-danger">Close</button>
    </form>

  </nb-card-body>
</nb-card>
