<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)='displaySearchBar()'>
        <ion-icon name='search' [style.color]='getSearchIconColor()'></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)='displayFilterBar()'>
        <ion-icon name='color-filter' [style.color]='getFilterIconColor()'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>View Points List</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="royal" (click)='switchDisplayMode()'>
        <ion-icon [name]="getDisplayModeIcon()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <a-map [ngStyle]='getStyle(displayModeEnum.Map)' [city]='selector.selectedCity$ | async' [viewPoints]='selector.filterAndSearchedViewPoints$ | async'
    [selectedViewPoint]='selector.selectedViewPoint$ | async' [viewMode]='selector.viewMode$ | async' (viewPointClickedEvent)='viewPointClicked($event)'></a-map>
  <viewpoint-list [ngStyle]='getStyle(displayModeEnum.List)' [viewPoints]='selector.filterAndSearchedViewPoints$ | async' [viewMode]='selector.viewMode$ | async'
    (viewPointClickedEvent)='viewPointClicked($event)'></viewpoint-list>
</ion-content>

<viewpoint-search *ngIf='showSearchBar' [searchKey]='selector.viewPointSearchKey$ | async' (searchEvent)='searchViewPoint($event)'
  (backGroundClickedEvent)='dismissSearchBar()'></viewpoint-search>
<viewpoint-filter *ngIf='showFilterBar' [filterCategories]='selector.currentFilters$ | async' (criteriaClickedEvent)='criteriaClicked($event)'
  (backGroundClickedEvent)='dismissFilterBar()'></viewpoint-filter>
