<ion-header>
  <ion-navbar>
    <ion-title>View Points List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)='switchDisplayMode()'>
        <ion-icon [name]="getIconName()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
    <a-map  [ngStyle]='getStyle(displayModeEnum.Map)' 
            [viewPoints]='selector.filteredViewPoints$ | async'
            [selectedViewPoint]='selector.selectedViewPoint$ | async'
            [viewMode]='selector.viewMode$ | async'
            (viewPointClickedEvent)='viewPointClicked($event)'></a-map>
    <viewpoint-list [ngStyle]='getStyle(displayModeEnum.List)'
                    [viewPoints]='selector.filteredViewPoints$ | async'
                    [viewMode]='selector.viewMode$ | async'
                    (viewPointClickedEvent)='viewPointClicked($event)'></viewpoint-list>
  <ion-fab right edge #fab>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)='displaySearchBar(fab)'>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-fab (click)='displayFilterBar(fab)'>
        <ion-icon name="color-filter"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<viewpoint-search *ngIf='showSearchBar' 
                  [searchKey]='selector.viewPointSearchKey$ | async' 
                  (searchEvent)='searchViewPoint($event)' 
                  (backGroundClickedEvent)='dismissSearchBar()'></viewpoint-search>
<viewpoint-filter *ngIf='showFilterBar' 
                  [filterCategories]='selector.currentFilters$ | async' 
                  (criteriaClickedEvent)='criteriaClicked($event)'
                  (backGroundClickedEvent)='dismissFilterBar()'></viewpoint-filter>
