    :host {
      display: block;
    }

    .icon-stack {
      display: inline-block;
    }

    .icon-stack-normal,
    .icon-stack-small {
      position: absolute;
      width: 100%;
      text-align: center;
      font-style: normal;
    }

    .icon-stack-normal {
      font-size: 2.8em;
    }

    .icon-stack-small {
      font-size: 1.4em;
      top: 5px;
    }

    .trip {
      display: block;
      position: absolute;
      text-align: center;
      font-size: 1.1em;
      font-style: normal;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
